:root{
    --white_color : rgb(255, 255, 255);
    --white_paige : #FFFDF6 ; 
    --paige : #FAF6E9 ; 
    --dark : rgb(14, 14, 14);
    --grey:rgb(163, 163, 163);
    --icon : rgb(53, 53, 53);
}
body {
  font-family: 'Playpen Sans Arabic', sans-serif !important;
}

#top_bar{
    background-color: var(--white_paige);
    border-bottom-color: var(--grey);
    border-bottom-width: 1px;
    border-bottom-style:solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}
.container-fluid{
    padding-top: 60px;
}


  .full-width-img {
    display: block;
    width: 100vw; /* Full viewport width */
    max-width: 100%;
    height: auto;
    
  }

#card_text{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hover-effect{
    transform: scale(1);
    transition: 0.5s ease;
}
.hover-effect:hover{
    transform: scale(1.06);
    transition: 0.5s ease;
}

#intro_p{

text-align: center;
  font-size: 1.2rem;
  color: #2e2e2e;
  line-height: 1.65;
  background-color: #f5f5f5;
  padding: 20px 0px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 40px auto;
}

#new_p{
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  color: #2e2e2e;
  line-height: 1.65;
  background-color: #ffed48;
  padding: 20px 0px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 0;
  z-index: 1;
}

.back-banner-yellow {
  position: relative;
  background-color: #fff48f;
  width: 100%;
  transform: translate(0%, -16px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-top: 30px;
  

}
#sale_p{
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.65;
  background-color: #ff4848;
  padding: 20px 0px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 0;
  z-index: 1;
}

.back-banner-red {
  position: relative;
  background-color: #ff5f5f;
  width: 100%;
  transform: translate(0%, -16px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-top: 30px;
  

}
#items_p{
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  color: var(--dark);
  line-height: 1.65;
  background-color: rgb(255, 255, 232);
  padding: 20px 0px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 0;
  z-index: 1;
}

.back-banner-white {
  position: relative;
  background-color: #fffcef;
  width: 100%;
  transform: translate(0%, -16px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-top: 30px;
  

}


.item_card {
  width: 48%;
  margin-bottom: 20px;
  margin-left: 4%;
  background-color: var(--paige);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.item_card:nth-child(2n) {
  margin-left: 0; /* reset left margin for even items to keep spacing clean */
}

.item_img{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.393);
  border-radius: 10px;
}
#sidebar{
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--white_paige);
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1050;
  padding-top: 60px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);

  border-left-color: var(--grey);
  border-left-width: 1px;
  border-left-style:solid;
    
}

select.form-select {
  direction: rtl;
  padding-right: 1.75rem; /* Push text away from arrow */
  background-position: left 0.1rem center; /* Move arrow to left */
  background-repeat: no-repeat;
}
.item_wrapper{
  width: 95%;
  /*border-top : 1px solid var(--grey);*/
  border-bottom : 1px solid var(--grey);
  padding: 10px 6px ;
  display: flex;
  flex-direction: column;
}